<!-- <p> -->
    <mat-toolbar color="primary" class="sticky-toolbar">
      <button (click)="drawer.toggle()" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <span>My App</span>
      <span class="example-spacer"></span>
      <button mat-button routerLink="/login" class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>person</mat-icon>
        Login
      </button>
      <button mat-button (click)="openSignupForm()" class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>login</mat-icon>
        Sign Up
      </button>
    </mat-toolbar>

    <mat-drawer-container autosize>
        <mat-drawer #drawer opened="false" mode="side" class="sticky-sidenav">
            <mat-nav-list>
              <mat-list-item>
                <button mat-button>
                  <mat-icon>dashboard</mat-icon>
                  Dashboard
              </button>
              </mat-list-item>

              <mat-list-item >
                <button mat-button routerLink="/menu">
                  <mat-icon>menu</mat-icon>
                  Menu
                </button>
              </mat-list-item>

              <mat-list-item>
                <button mat-button routerLink="/cart">
                  <mat-icon>shopping_cart</mat-icon>
                  Cart
                </button>
              </mat-list-item>
            </mat-nav-list>
        </mat-drawer>

        <mat-drawer-content>
            <div class="sidenav">
                <router-outlet></router-outlet>
            </div> 
         </mat-drawer-content>
    </mat-drawer-container>
  <!-- </p> -->